<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>動画投稿フォーム</title>
</head>

<body>
  <header>
  </header>
  <main>
    <!-- 一番上のレイアウト -->
    <div class="div-top">
      <div class="div-top-title">
        <input type="text">
      </div>
      <div class="div-top-description">
        <input type="text">
      </div>
      <div class="div-top-popup">
        <!-- とりあえずボタンだけ置いとく -->
        <!-- モーダルコンテンツでサムネイルを選べるポップアップを作成する。 -->
      </div>
    </div>
    <!-- 真ん中のレイアウト -->
    <div class="div-mid">
      <div class="div-mid-popup">

      </div>
      <div class="div-mid-videoConform">

      </div>
      <div class="div-mid-tags">

      </div>
    </div>
    <!-- 一番下のレイアウト -->
    <div class="div-bottom">
      <div class="div-bottom-btn">
        <!-- ボタンタグを入れる -->
      </div>
    </div>
  </main>
  <footer>
  </footer>
</body>

</html>