<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>動画投稿フォーム</title>
</head>

<body>
  <header>
  </header>
  <main>
    <!-- 一番上のレイアウト -->
    <div class="div-top">
      <div class="div-top-title">
        <label for="title">タイトル(必須)</label>
        <input type="text" id="title" placeholder="ここにタイトルを入力" required>
      </div>
      <div class="div-top-description">
        <label for="description">説明</label>
        <input type="text" id="description" placeholder="ここに説明を入力">
      </div>
      <div class="div-top-popup">
        <!-- とりあえずボタンだけ置いとく -->
        <!-- モーダルコンテンツでサムネイルを選べるポップアップをここに作成する。 -->
      </div>
    </div>
    <!-- 真ん中のレイアウト -->
    <div class="div-mid">
      <div class="div-mid-popup">
        <!-- とりあえずボタンだけ置いとく -->
        <!-- モーダルコンテンツでサムネイルを選べるポップアップをここに作成する。 -->
      </div>
      <div class="div-mid-videoConform">
        <!-- videoを確認できるようにiframe等で表示する -->
      </div>
      <div class="div-mid-tags">
        <!-- タグの一覧をおいて、チェックボックスなどで選択できるようにする。 -->
      </div>
    </div>
    <!-- 一番下のレイアウト -->
    <div class="div-bottom">
      <div class="div-bottom-btn">
        <!-- ボタンタグを入れる -->
      </div>
    </div>
  </main>
  <footer>
  </footer>
</body>

</html>