
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Embedded YouTube Video</h2>
    {% if video_ids %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_ids }}" frameborder="0" allowfullscreen></iframe>
        <a href="{% url 'detail' Video.pk %}">詳細へ</a>
    {% else %}
        <p>Invalid YouTube URL</p>
    {% endif %}
  </body>
</html>

