
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Embedded YouTube Video</h2>
    {% comment %} {% if video_ids %} {% endcomment %}
      {% for id, title, pk in ziplist %}
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ id }}" frameborder="0" allowfullscreen></iframe>
          <h4>{{ title }}</h4>
          <a href="{% url 'detail' video_pk=pk %}">詳細へ</a>
      {% endfor %}
    {% comment %} {% else %} {% endcomment %}
        {% comment %} <p>Invalid YouTube URL</p> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
  </body>
</html>

